{% extends "oxhack/base.html" %}
{% block pagecontent %}


<!-- For some reason this has to be included twice (once in base.html, once here) -->
{% load staticfiles %}

    <!-- Page Header -->
    <header class="intro-header-not-landing">
    </header>

    <!-- Main Content -->
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title">
                    About us
                </h2>
                <p>We are bloody mad coderz!</p>
                <table style="width: 100%; margin-bottom: 50px; text-align: center">
                    <tr>
                        <td style="width: 25%"><img style="width: 100px; border-radius:50%" src="{% static 'oxhack/img/head.jpg' %}"></td>
                        <td style="width: 25%"><img style="width: 100px; border-radius:50%" src="{% static 'oxhack/img/head.jpg' %}"></td>
                        <td style="width: 25%"><img style="width: 100px; border-radius:50%" src="{% static 'oxhack/img/head.jpg' %}"></td>
                        <td style="width: 25%"><img style="width: 100px; border-radius:50%" src="{% static 'oxhack/img/head.jpg' %}"></td>
                    <tr>
                    <tr>
                        <td>Lev Chechik</td>
                        <td>Wojciech Dziwulski</td>
                        <td>Jack Frigaard</td>
                        <td>Kacper Zylka</td>
                    <tr>
                </table>
            <div>
        </div>
    </div>

    <hr>

    {% endblock %}