{% extends "oxhack/base.html" %}
{% block pagecontent %}


<!-- For some reason this has to be included twice (once in base.html, once here) -->
{% load staticfiles %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
     <link href="{% static 'oxhack/img/home-bg.jpg' %}" rel="stylesheet">
    <header class="intro-header" style="background-image: url('{% static 'oxhack/img/oxford.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>OxHUNT</h1>
                        <hr class="small">
                        <span class="subheading">Oxford's premier crowd game</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title">
                    The best (and only) crowd game in Oxford! EVER!
                </h2>
                <p>It is way cooler than you'll ever be.</p>
            <div>
        </div>
    </div>

    <hr>

    {% endblock %}