{% extends "oxhack/base.html" %}
{% block pagecontent %}


<!-- For some reason this has to be included twice (once in base.html, once here) -->
{% load staticfiles %}

    <!-- Page Header -->
    <header class="intro-header-not-landing">
    </header>

    <!-- Main Content -->
        <div class="container" style="font-size: 15px;">
        <div class="row">

            <hr>
            <h1 style="text-align: center;"> Leaderboards </h1>
            <hr>

            <div class="col-md-5 col-md-offset-1">
                    <table class="table">
                        <caption>
                            <td class="col-md-2" style="vertical-align: middle; font-weight: bold">Rank</td>
                            <td class="col-md-1" style="vertical-align: middle; font-weight: bold"></td>
                            <td class="col-md-6" style="vertical-align: middle; font-weight: bold">Best colleges</td>
                            <td class="col-md-5" style="vertical-align: middle; font-weight: bold">Challenges completed</td>
                        </caption>

                        {% for college, challenges, image_name in colleges %}
                        <tr>
                            <td class="col-md-2" style="vertical-align: middle"> {{ forloop.counter }}  </td>
                            <td class="col-md-1" style="vertical-align: middle"> <img style="width:40px"src="{{ challenges.image_name }}">  </td>
                            <td class="col-md-6" style="vertical-align: middle"> {{ college }}  </td>
                            <td class="col-md-5" style="vertical-align: middle"> {{ challenges.total_completions}} </td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>
            <div class="col-md-4 col-md-offset-1">
                    <table class="table">
                        <caption>
                            <td class="col-md-2" style="vertical-align: middle; font-weight: bold">Rank</td>
                            <td class="col-md-1" style="vertical-align: middle; font-weight: bold"></td>
                            <td class="col-md-6" style="vertical-align: middle; font-weight: bold">Best users</td>
                            <td class="col-md-5" style="vertical-align: middle; font-weight: bold">Challenges completed</td>
                        </caption>

                        {% for user, count in users %}
                        <tr>
                            <td class="col-md-2" style="vertical-align: middle"> {{ forloop.counter }}  </td>
                            <td class="col-md-1" style="vertical-align: middle; font-weight: bold"></td>
                            <td class="col-md-6"> {{ user }} </td>
                            <td class="col-md-5"> {{ count }} </td>
                        </tr>
                        {% endfor %}
                    </table>

            </div>
        </div>
    </div>

    <hr>

    {% endblock %}

