{% extends "oxhack/base.html" %}
{% block pagecontent %}


<!-- For some reason this has to be included twice (once in base.html, once here) -->
{% load staticfiles %}

    <!-- Page Header -->
    <header class="intro-header-not-landing">
    </header>

    <!-- Main Content -->
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    {% for college, challenges in colleges %}
                    <table class="table">
                        <caption> {{ college }} - <strong>{{ challenges.total_completions}}</strong> completed challenge{{challenges.total_completions | pluralize}} </caption>

                        {% for challenge, count in challenges.items %}
                            {% if challenge != "total_completions" %}
                                <tr>
                                    <td class="col-md-9"> {{ challenge }} </td>
                                    <td class="col-md-3"> {{ count }} completions </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    {% endfor %}

                    <hr><hr>

                    <table class="table">
                        <caption>
                            <td class="col-md-9">Best users</td>
                            <td class="col-md-3">Challenges completed</td>
                        </caption>

                        {% for user, count in users %}
                        <tr>
                            <td class="col-md-9"> {{ user }} </td>
                            <td class="col-md-3"> {{ count }} </td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
                <hr>
            </div>
        </div>
    </div>

    <hr>

    {% endblock %}
