{% extends "oxhack/base.html" %}
{% block pagecontent %}


<!-- For some reason this has to be included twice (once in base.html, once here) -->
{% load staticfiles %}

    <!-- Page Header -->
    <header class="intro-header-not-landing">
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title">
                    Rules of the game
                </h2>
                <ol>
                    <li>Choose a college!</li>
                    <li>Walk there...</li>
                    <li>Arrive.</li>
                    <li>Take your phone out!</li>
                    <li>E-email OxHUNT at "mail@oxhunt.bymail.in" stating which college you've chosen in the Subject field and simply a letter "g" in the body.</li>
                    <li>We will get back to you with a challenge and then expect a swift answer!</li>

                </ol>
                <strong>Earn points for your college and smash the competitors!!!</strong><br><br>
            <div>
        </div>
    </div>


    <hr>

    {% endblock %}