{% extends "oxhack/base.html" %}
{% block pagecontent %}


<!-- For some reason this has to be included twice (once in base.html, once here) -->
{% load staticfiles %}

    <!-- Page Header -->
    <header class="intro-header-not-landing">
    </header>

    <!-- Main Content -->
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title">
                    Visualisations
                </h2>
                <p>Some cool maps.</p>
            <div>
        </div>
    </div>

    <hr>

    {% endblock %}