{% extends "oxhack/base.html" %}
{% block pagecontent %}


<!-- For some reason this has to be included twice (once in base.html, once here) -->
{% load staticfiles %}
      <link rel="stylesheet" href="http://js.arcgis.com/3.11/dijit/themes/claro/claro.css">
      <link rel="stylesheet" href="http://js.arcgis.com/3.11/esri/css/esri.css">
      <link rel="stylesheet" type="text/css" href="/static/oxhack/css/chord.css">
      <script src="http://js.arcgis.com/3.11/"></script>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="/static/oxhack/js/esri_map.js"></script>
      <script src="/static/oxhack/js/chord.js"></script>
    <!-- Page Header -->
    <header class="intro-header-not-landing">
    </header>

    <!-- Main Content -->
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title">
                    Visualisations
                </h2>
                <div id="map">
                </div>
                <br/>
                <div id="chord">
                </div>
                </br>
            </div>
        </div>
    </div>

    <hr>

    {% endblock %}