{% extends "oxhack/base.html" %}
{% block pagecontent %}

{% load staticfiles %}

    <!-- Page Header -->
	<header class="intro-header-not-landing"></header>

    <!-- Main Content -->
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title">
                    Registration complete!
                </h2>
                <p>Please refer to the <a href="/rules">rules of the game</a> to start playing.</p>
            <div>
        </div>
    </div>

{% endblock %}