{% extends "oxhack/base.html" %}
{% block pagecontent %}

{% load staticfiles %}
    <!-- Page Header -->
<header class="intro-header-not-landing">
</header>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2>Register</h2>
                <form method="post">
                    {% csrf_token %}
                    <table class="registration-table">
                    <tr>
                        <td style="width: 200px">Username:</td>
                        <td>{{ form.username}}</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">E-mail:</td>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">Password:</td>
                        <td>{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td style="width: 200px">Password (repeat):</td>
                        <td>{{ form.password2 }}</td>
                    </tr>
                    </table>
                    <center><input style="margin: 30px 0 0 0" type="button" class="btn btn-default" type="submit" value="Submit" action="registration_register"/></center>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}
